<div class="container">
    <div class="welcome">
             <video playsinline autoplay muted loop id="myVideo">
                    <source src="../assets/video/flag.mp4" type="video/mp4">
                  </video> 
        <div id="welcometext">       
        <h4>Welcome to the official</h4>
        <h1><span id="mekdonalds">WACKDONALDS</span></h1>
        <h4 id="welcome-webiste">website !!</h4>
        </div>   
    </div>
  <div class="popular-items">
    <div class="popular-items-title">
      <h2>THE MOST POPULAR ITEMS ON OUR MENU</h2>
    </div>

    <div class="menu-item">
        
        <h3 class="menu-item-name">BigWack</h3>
    <a href="#" routerLink="/menu">
        <img src="../../assets/img/bigmac.jpg" alt="bigwack" class="menu-item-img">
    </a>
    </div>
    <div class="menu-item">
        <h3 class="menu-item-name">Trapistburger</h3>
        <a href="#" routerLink="/menu">
        <img src="../../assets/img/cheeseburger.jpg" alt="bigmac" class="menu-item-img">
        </a>
    </div>
    <div class="menu-item">
            
        <h3 class="menu-item-name">WackNigglets</h3>
        <a href="#" routerLink="/menu">
        <img src="../../assets/img/mcnuggets.png" alt="bigmac" class="menu-item-img">
        </a>
    </div>
    <div class="menu-item">
           
        <h3 class="menu-item-name">Creampie</h3>
        <a href="#" routerLink="/menu">
        <img src="../../assets/img/pie.jpg" alt="bigmac" class="menu-item-img">
        </a>
    </div>
</div>


    <div class="links">
            <a href="#" routerLink="/menu">
        <div class="links-item links-item1">
            <h3 class="links-item-title">Full menu</h3>
        </div>
        </a>
        <a href="#" routerLink="/about">
        <div class="links-item links-item2">
            <h3 class="links-item-title">About us</h3>
        </div>
        </a>
        <a href="#" routerLink="/jobs">
        <div class="links-item links-item3">
            <h3 class="links-item-title">Careers</h3>
        </div>
        </a>
    </div>

</div>

<script>
document.getElementById('myVideo').play();

</script>