<div class="container">
    
<div class="links">
  <ul>
      <a href="menu#breakfast"><li>Breakfast</li></a>
      <a href="menu#drinks"><li>Drinks</li></a>
      <a href="menu#burgers"><li>Burgers</li></a>
      <a href="menu#chicken"><li>Chicken/Sandwich/Salad</li></a>
      <a href="menu#desert"><li>Dessert/Shakes</li></a>
      <a href="menu#caffe-drink"><li>Caffe drinks</li></a>
      <a href="menu#caffe-meal"><li>Caffe meals</li></a>
      <a href="menu#snacks"><li>Snacks</li></a>
      
     
  </ul>
  
</div>

<div class="menu-items">
    <h1 >Full menu</h1>
        <div class="box breakfast">
            <h2 id="breakfast">Breakfast</h2>
                <div class="item">
                    <h4>Bacon, Egg & Cheese Buttermilk Biscuit</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Bacon-Egg-Cheese-Biscuit-Regular-Size-Biscuit.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Bacon, Egg & Cheese WackFiddle</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Bacon-Egg-Cheese-McGriddles.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Egg WackStuffin</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Egg-McMuffin.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fruit n Yogurt ShakeItUp</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Fruit-n-Yogurt-Parfait.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Hash Tags</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-HASH-BROWNS.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fluffcakes and Sausage</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Hotcakes-and-Sausage.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fluffcakes</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Hotcakes.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sausage Buttermilk Biscuit</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-Biscuit-Regular-Size-Biscuit.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Sausage Buttermilk Biscuit with Egg</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-Biscuit-with-Egg-Regular-Size-Biscuit.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sausage Doritto</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-Burrito.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sausage, Egg & Cheese WackFiddle</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-Egg-Cheese-McGriddles.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sausage WackFiddle</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-McGriddles.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Sausage WackStuffin with Egg</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-McMuffin-with-Egg.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sausage WackStuffin</h4>
                    <img src="../../assets/menu-img/breakfast/t-mcdonalds-Sausage-McMuffin.jpg" alt="pic">
                </div>
               
        </div>
        <div class="box drinks">
            <h2 id="drinks">Drinks</h2>
                <div class="item">
                    <h4>Medium Fat Milk</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-1-Low-Fat-Milk-Jug.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Good Ol' Apple Juice</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-appley-ever-after.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Chocolate WackCafe Shake</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Chocolate-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Coke-a-Cola</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Coca-Cola-Classic-Small.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Malawi Water</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Dasani-Water.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Diet Cokeain</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Diet-Coke-Small.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Dr Phill</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Dr-Pepper-Small.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Phanta Orange</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-fanta-orange.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Fat Packed Chocolate Milk</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Fat-Free-Chocolate-Milk-Jug.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Tea with Ice</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Iced-Tea-Large.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Tea with ice v2</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Iced-Tea-Large2.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>WackCafe Chocolate Walls</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-McCafe-Hot-Chocolate-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Blueberry Slashie</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-minute-maid-blue-raspberry-slushie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fruit Kick Slashie</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-minute-maid-fruit-punch-slushie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>OJ Slashie</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Minute-Maid-Orange-Juice-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Spicy Peach Slashie</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-minute-maid-sweet-peach-slushie.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Sprunk Mediterranean Berry</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-mix-by-sprite-tropicberry.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Sprunk</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Sprite-Small.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Strawberry WackCafe Shake</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Strawberry-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Vanilla WackCafe Shake</h4>
                    <img src="../../assets/menu-img/drinks/t-mcdonalds-Vanilla-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
        </div>
        <div class="box burgers">
            <h2 id="burgers">Burgers</h2>
                <div class="item">
                    <h4>BigWack</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Big-Mac.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Trapistburger</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Cheeseburger.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Double Trapistburger</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Double-Cheeseburger.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Double Quarter Kilogramer with Trapist</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Double-Quarter-Pounder-with-Cheese.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Regular Burger</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Hamburger.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>WackDouble</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-McDouble.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Quarter Kilogramer with Trapist and Bacon</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-qpc-bacon.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Quarter Kilogramer DeLuxor</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-qpc-deluxe-burger.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Quarter Kilogramer with Trapist</h4>
                    <img src="../../assets/menu-img/burger/t-mcdonalds-Quarter-Pounder-with-Cheese.jpg" alt="pic">
                </div>
        </div>
        <div class="box chicken">
            <h2 id="chicken">Chicken/Sandwich/Salad</h2>
                <div class="item">
                    <h4>HandMade Grilled Chicken Sammich</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Artisan-Grilled-Chicken-Sandwich.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Testies</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-buttermilkcrispytenders.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Chicken WackNigglets</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Chicken-McNuggets-4pc.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fish-e-Fied</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Filet-O-Fish.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>WackChicken</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-McChicken.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Premium Bacon Salad with Buttermilk Fried Crunchy Chicken</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Premium-Bacon-Ranch-Salad-with-Buttermilk-Crispy-Chicken.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Premium Bacon Salad with Buttermilk Grilled Crunchy Chicken</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Premium-Bacon-Ranch-Salad-with-Grilled-Chicken.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Premium Buttermilk Crunchy Chicken DeLuxor Sammich</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Premium-Buttermilk-Crispy-Chicken-Deluxe-Sandwich.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Premium Redneck Salad with Buttermilk Fried Crunchy Chicken</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Premium-Southwest-Salad-with-Buttermilk-Crispy-Chicken.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Premium Redneck Salad with Buttermilk Grilled Crunchy Chicken</h4>
                    <img src="../../assets/menu-img/chicken/t-mcdonalds-Premium-Southwest-Salad-with-Grilled-Chicken.jpg" alt="pic">
                </div>
        </div>
    <div class="box desert">
            <h2 id="desert">Dessert/Shakes</h2>
                <div class="item">
                    <h4>Hot n Feisty Apple Creampie</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Baked-Hot-Apple-Pie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Chocolate Chip Wackookie</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Chocolate-Chip-Cookie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Chocolate WackCafe Shake</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Chocolate-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Hot Karamel Sunday</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Hot-Caramel-Sundae.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Hot Fiji Sunday</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Hot-Fudge-Sundae.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>SissyCone</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Kiddie-Cone.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>WackFury with SMS Chocolate</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-McFlurry-with-MMS-Chocolate-Candies-12floz-cup.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>WackFury with AURORA Cookies</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-McFlurry-with-OREO-Cookies-12floz-cup.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>SnickersDoodlyDoo WackFury</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-snickerdoodle-mcflurry.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Strawberry WackCafe Shake</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Strawberry-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Strawberry Sunday</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Strawberry-Sundae.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Vanilla WackCafe Shake</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Vanilla-McCafe-Shake-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Vanilla XXtra Fat Cone</h4>
                    <img src="../../assets/menu-img/dessert/t-mcdonalds-Vanilla-Reduced-Fat-Ice-Cream-Cone.jpg" alt="pic">
                </div>
        </div>
    <div class="box caffe-drink">
            <h2 id="caffe-drink">Caffe drinks</h2>
                <div class="item">
                    <h4>PapaAmerikano</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-americano.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>AlPaccino</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-cappuccino.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Karamel AlPaccino</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-caramel-cappuccino.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Karamel 0 degree Coffee</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Caramel-Iced-Coffee.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Karamel Macho-ato</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-caramel-macchiato.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Cinnamon Cookie Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-cinnamon-cookie-latte.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Coffee Klassik</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Coffee-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fapper Karamel</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Frappe-Caramel-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Fapper Macho</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Frappe-Mocha-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Karamel Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-iced-caramel-latte.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Karamel Macho-ato</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-iced-caramel-macchiato.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Cinnamon Cookie Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-iced-cinnamon-cookie-latte.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>0 degree Bosnian Vanilla Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-iced-french-vanilla-latte.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-iced-latte.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Mango/Pineapple SmoothOperator</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Mango-Pineapple-Smoothie-Small.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Karamel Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Caramel-Latte-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Karamel Macho</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Caramel-Mocha-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Hot Choco</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Hot-Chocolate-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Karamel Macho</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Iced-Caramel-Mocha-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>0 degree Macho</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Iced-Mocha-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Latte-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Macho</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Mocha-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Vanilla Latter</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-McCafe-Vanilla-Latte-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Premium Roasted 0 degree Coffee</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Premium-Roast-Iced-Coffee-Medium.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Strawberry/Banana SmoothOperator</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Strawberry-Banana-Smoothie-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Vanilla AlPaccino</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-vanilla-cappuccino.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Vanilla 0 degree Coffee</h4>
                    <img src="../../assets/menu-img/caffedrink/t-mcdonalds-Vanilla-Iced-Coffee.jpg" alt="pic">
                </div>
                
                
                
        </div>
    <div class="box caffe-meal">
            <h2 id="caffe-meal">Caffe meals</h2>
                <div class="item">
                    <h4>Blacked Hot and Feisty Apple Creampie</h4>
                    <img src="../../assets/menu-img/caffemeals/t-mcdonalds-Baked-Hot-Apple-Pie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Chocolate Chip Wackookie</h4>
                    <img src="../../assets/menu-img/caffemeals/t-mcdonalds-Chocolate-Chip-Cookie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Donut Rods</h4>
                    <img src="../../assets/menu-img/caffemeals/t-mcdonalds-donut-sticks.jpg" alt="pic">
                </div>
                
    </div>
    <div class="box snack">
            <h2 id="snacks">Snacks</h2>
                <div class="item">
                    <h4>Apple Pieces</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-Apple-Slices.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Donut Rods</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-donut-sticks.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>FrenchSticks</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-Fries-Small-Medium.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fruit and Yogurt ShakeItUp</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-Fruit-n-Yogurt-Parfait.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Strawberry High in Fat Yogurt Bottles</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-Go-GURT-Strawberry-Flavored-Low-Fat-Yogurt-Tube.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Blueberry Slashie</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-minute-maid-blue-raspberry-slushie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Fruit Kick Slashie</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-minute-maid-fruit-punch-slushie.jpg" alt="pic">
                </div>
                <div class="item">
                    <h4>Spicy Peach</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-minute-maid-sweet-peach-slushie.jpg" alt="pic">
                </div>
                <br>
                <div class="item">
                    <h4>Cabbage</h4>
                    <img src="../../assets/menu-img/snacks/t-mcdonalds-Side-Salad.jpg" alt="pic">
                </div>
                
    </div>
</div>

<div class="topbar">
    <ul id="tothetop">
        <a href="menu#"><li>^ Top ^</li></a>
    </ul>
</div>


</div>
