

<div class="text-intro">
   <p>Whether it's your first job, a part-time job or a lifelong career, working at WackDonald's provides skills, education and relationships that translate to new experiences. From healthcare to IT professionals, teachers to entrepreneurs, countless career paths have been Made at WackDonald's. And we can't wait to help jump-start more.</p>
</div>

<div class="employees">
    <img src="../../assets/employee-img/employee1.png" alt="employee1">
    <img src="../../assets/employee-img/employee2.jpg" alt="employee2">
    <img src="../../assets/employee-img/employee3.jpg" alt="employee3">
    <img src="../../assets/employee-img/employee4.jpg" alt="employee4">
    <img src="../../assets/employee-img/employee5.jpg" alt="employee5">
    <img src="../../assets/employee-img/employee6.jpg" alt="employee6">
    <img src="../../assets/employee-img/employee7.jpg" alt="employee7">
    <img src="../../assets/employee-img/employee8.jpg" alt="employee8">
    <img src="../../assets/employee-img/employee9.jpg" alt="employee9">

</div>
<div class="ready">
<h2>Ready for work?? Fill out a form by clicking the button bellow !</h2>
</div>

<div class="apply">
<button id="apply-button" routerLink="/job" >Apply now !!</button>
</div>

<h2 id="testis">Employee testimonials</h2>
<div class="testimonials">
  
  <h3>Jimmy McStrutters</h3>
  <img src="../../assets/employee-img/testi1.jpg" alt="Face1">
   <p>CrapDonald's. Very poor customer service.  We can't get orders right. The new burgers aren't cooked properly, usually we get them served at a medium rare to almost medium well. Dirty eating areas...
    The new contemporary look and furniture isn't appealing.
    Food is very low quality. Makes me nauseous. I don't normally eat here but people that come here do.... No matter what they get it makes them sick.</p>

    <h3>Jessica Perec</h3>
    <img src="../../assets/employee-img/testi2.jpg" alt="Face2">
    <p class="jessica">Very satisfied, polite people, clean restaurant (sortof), no rat residue in the food. 10/10 <br> P.S. I have been working here for 5 months, and I am still to recieve my payment. What I got out of this was a goddamn coupon for 2 BigWacks...</p>

</div>