

.text-intro{
    width: 60%;
    margin: auto;
    padding-top: 100px;
    p{
      font-size: 30px;
      font-style: italic;
      letter-spacing: 1.7px;
      color: #595959;
    }
}

.employees{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    img{
        display: inline-block;
        margin: 50px;
        width: 400px;
        
    }
}

.ready{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #262626;
    font-style: italic;
}


.apply{
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 200px;
    button{
        background-color: #4CAF50; /* Green */
        
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        border-radius: 25px;
    }
    button:hover{
        background-color: #4CCC50;
    }
}

#testis{
    text-align: center;
    color: #595959;
    font-style: italic;
    padding-top: 5px;
}
.testimonials{
    width: 70%;
    margin: auto;
    background-image: url("../../assets/img/backgrbuilding.jpg");
    border-radius: 2%;
    margin-bottom: 50px;
    padding-left: 20px;
    
    h3{
        padding-top: 10px;
    }
    p{
        display: inline-block;
        width: 80%;
        border: 1px solid #336699;
        border-radius: 12%;
        margin-left: 20px;
        padding: 5px;
        position: relative;
        color: #FFF;
        text-shadow: 2px 2px black;
        font-size: 20px;
       
    }
    img{
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .jessica{
        position: relative;
        bottom: 20px;
    }
}



//Responsive 

@media only screen and (max-width: 850px) {
    .employees{
        width: 80%;
        margin: auto;
        padding-top: 100px;
        img{
            display: inline-block;
            margin: 10px;
            width: 300px;
            
        }
    }


    .ready{
        
        font-size: 20px;
        
    }

    .apply{
       
        padding: 50px;
          
    }
}


@media only screen and (min-width: 850px) and (max-width: 1400px) {
    
}